absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arrow==1.2.3
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attributee==0.1.7
attrs==22.1.0
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.11.1
bleach==5.0.1
boto==2.49.0
boto3==1.26.146
botocore==1.29.146
brotlipy==0.7.0
cachetools==5.2.0
cdt==0.6.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.6
commonmark==0.9.1
contourpy==1.0.6
crc32c==2.3.post0
crcmod==1.7
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
Cython==0.29.32
cython-bbox==0.1.3
daal4py==2021.6.0
dask==2023.3.1
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
descartes==1.1.0
dm-tree==0.1.8
dotty-dict==1.3.1
easydict==1.10
einops==0.6.0
einsum==0.3.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
et-xmlfile==1.1.0
etils==1.2.0
exceptiongroup==1.1.1
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fasteners==0.18
fastjsonschema==2.16.2
filelock==3.8.0
filterpy==1.4.5
fire==0.4.0
flake8==6.0.0
flatbuffers==23.5.8
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.2
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
gdown==4.5.4
glob2==0.7
google-apitools==0.5.32
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
googleapis-common-protos==1.59.0
GPUtil==1.4.0
grpcio==1.50.0
gsutil==5.21
gym==0.24.0
gym-notices==0.0.8
h11==0.14.0
h5py==3.7.0
httplib2==0.20.4
idna @ file:///croot/idna_1666125576474/work
imageio==2.22.4
imageio-ffmpeg==0.4.7
immutabledict==2.2.0
importlib-metadata==5.1.0
importlib-resources==5.10.1
ipykernel @ file:///opt/conda/conda-bld/ipykernel_1662361798230/work
ipython @ file:///croot/ipython_1668088122043/work
ipython-genutils==0.2.0
ipywidgets==8.0.3
isoduration==20.11.0
isort==4.3.21
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2==3.1.2
jmespath==1.0.1
joblib @ file:///croot/joblib_1666298844297/work
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client @ file:///croot/jupyter_client_1669040270237/work
jupyter_core @ file:///croot/jupyter_core_1668084443243/work
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
keras==2.11.0
kiwisolver==1.4.4
lap==0.4.0
lazy_loader==0.2
libclang==16.0.0
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.1
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mccabe==0.7.0
mistune==2.0.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mmcls==0.25.0
mmdet==2.26.0
model-index==0.1.11
monotonic==1.6
motmetrics==1.2.5
multidict==6.0.4
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
ndjson==0.3.1
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
networkx==3.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.21.5
nuscenes-devkit==1.1.9
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
OpenEXR==1.3.9
openmim==0.3.3
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
outcome==1.2.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.3
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.0
plotly==5.13.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prettytable==3.5.0
progress==1.6
prometheus-client==0.15.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.6
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle @ file:///croot/pycodestyle_1674267221883/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
pyflakes==3.0.1
pygame==2.1.2
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyquaternion==0.9.9
pyrsistent==0.19.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-json-logger==2.0.4
pytz==2022.6
pyu2f==0.1.5
PyWavelets==1.4.1
PyYAML==6.0
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole==5.4.0
QtPy==2.3.0
requests @ file:///croot/requests_1678709721434/work
requests-oauthlib==1.3.1
retry-decorator==1.1.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
rsa==4.7.2
s3transfer==0.6.1
scikit-image==0.20.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617107864/work
scikit-learn-intelex==2021.20221004.171638
scipy==1.8.0
seaborn==0.12.1
selenium==4.9.1
Send2Trash==1.8.0
shapely==2.0.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
skrebate==0.62
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.13.5
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.11.0
tensorflow-addons==0.20.0
tensorflow-datasets==4.9.0
tensorflow-estimator==2.11.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.0
tensorflow-probability==0.19.0
termcolor==2.1.1
terminado==0.17.1
terminaltables==3.1.10
tfrecord-dataset==0.1.1
thop==0.1.1.post2209072238
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2022.10.10
tinycss2==1.2.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz==0.12.0
torch==1.13.0
torch-scatter==2.1.1+pt113cu117
torchreid @ https://github.com/KaiyangZhou/deep-person-reid/archive/master.zip
torchvision==0.14.0
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.64.1
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
trimesh==3.21.6
trio==0.22.0
trio-websocket==0.10.2
typeguard==2.13.3
typing_extensions==4.4.0
uri-template==1.2.0
urllib3==1.26.13
waymo-open-dataset-tf-2-11-0==1.5.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
widgetsnbextension==4.0.4
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
yacs==0.1.8
yapf==0.32.0
yarl==1.8.2
ylearn==0.1.3
zipp==3.11.0
zlib1g-dev==99.99.99
