matplotlib==3.7.2
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
numpy==1.21.5
pandas==1.5.3
scikit-image==0.20.0
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617107864/work
scikit-learn-intelex==2021.20221004.171638

